.main{
    width: 100%;
    height: 100vh;
    /* background color: */
    font-family:sans-serif;
    border: 7px solid black;
    overflow: hidden;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.texts{
    margin-left: 10rem;
    text-transform: uppercase;
}

.texts h1{
    color: gray;
}

.texts .h1-big{
    font-size: 60px;
    color: black;
}

.texts p {
    border-top: 2px solid grey;
    color: gray;
    width: 70%;
    text-transform: lowercase;
}

.text-button{
    margin-top: 2.4rem;
    padding: 14px 35px;
    cursor: pointer;
    background-color: grey;
    color: white;
    border:none;
    border-radius: 5px;
}

/* .image{
     clip-path: polygon(100% 0%, 100% 50%, 100%);
    background-color: grey; 
} */

.image img {
    margin-top: 5rem;
    height: 500px;
    width: 600px;
    object-fit: contain;
}
